<div class="well">
  <h6 class="nav-header" ><a href="#toppicks" data-toggle="collapse">Top Picks</a></h6>

  <ul class="nav nav-list collapse in" id="toppicks">
    <li class="active">
    <a href="/p">Sale</a>
    </li>
    <li>
    <a href="#">Top seller</a>
    </li>         
  </ul> 
</div>

<div class="well">
  <h6 class="nav-header" ><a href="#category" data-toggle="collapse">Shop by category</a></h6>

  <ul class="nav nav-list collapse in" id="category">
    <li >
    <a href="/p">Health and wellbeing</a>
    </li>
    <li>
    <a href="#">Wool products</a>
    </li>
    <li>
    <a href="#">Beauty and skincare</a>
    </li>          
  </ul> 
</div>

<div class="well">
  <h6 class="nav-header" ><a href="#brand" data-toggle="collapse">Popular Brands</a></h6>

  <ul class="nav nav-list collapse in" id="brand">
    <li>
    <a href="/p">Natural's Care</a>
    </li>
    <li>
    <a href="#">UGG</a>
    </li>
    <li>
    <a href="#">Jurlique</a>
    </li>          
  </ul> 
</div>