


<%- partial('main/navbar') %>

<div class="container">

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <!--Sidebar content-->
<%- partial('main/leftnav') %>
    </div>
      <div class="span9">
        <!--Body content-->
        <div class="hero-unit">
          <h1>Today's Deal</h1>
          <p>UGG boots $99</p>
          <p>
            <a class="btn btn-primary btn-large">
              Buy now
            </a>
          </p>
        </div>        
      </div>
    </div>
  </div>

</div>




  <hr>

  <%- partial('main/footer') %>

</div> <!-- /container -->