<%- partial('main/navbar') %>

<div class="container">

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <!--Sidebar content-->
<%- partial('main/leftnav') %>
    </div>
      <div class="span9">
        <!--Body content-->



		<div class="container">

		<h3>Refine Your Selection:</h3>

		<ul class="nav nav-pills">
	
		<li>		
		<div class="btn-group">
		  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		    Product Category
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
		      <li><a href="#">Skin Care</a></li>
		      <li><a href="#">Fish Oil</a></li>
		  </ul>
		</div>
		</li>  			

		<li>
		<div class="btn-group">
		  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		    Brand
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
		    
		  </ul>
		</div>				
		</li>
		<li>
		<div class="btn-group">
		  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		    Price
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
		  </ul>
		</div>			
		</li>
	
		<li>
			<button class="btn btn-primary">RESET</button>			
		</li>		

	</ul>




	



      </div>
    </div>
  </div>

</div>




  <hr>

  <%- partial('main/footer') %>

</div> <!-- /container -->